<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="com.nokia.s60tools.traceanalyser.traceanalyserrule"
          id="com.nokia.s60tools.traceanalyser.parameterrule"
          name="Paremeter Rule for Trace Analyser">
            <parameterrule
              providerName="Parameter Rule"
              class="com.nokia.s60tools.traceanalyser.parameterrule.rule.ParameterRuleType" />
    </extension>

</plugin>
