<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.nokia.carbide.cpp.pi.piPluginData">
      <plugin
            pluginClass="com.nokia.carbide.cpp.pi.perfcounters.PecReturnPlugin">
      </plugin>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.nokia.carbide.cpp.internal.pi.model.ICPUScaleAdapter"
            class="com.nokia.carbide.cpp.pi.internal.perfcounters.PecTraceAdapterFactory">
         <adapter
               type="com.nokia.carbide.cpp.internal.pi.model.ICPUScale">
         </adapter>
      </factory>
   </extension>

</plugin>
