<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
    point="org.eclipse.core.runtime.products"
    id="product">      
      <product name="Trace Builder" application="org.eclipse.ui.ide.workbench"> 
        <property name="appName" value="Carbide.c++ Extensions - Trace Builder"/> 
      </product> 
  </extension>
  	
</plugin>
