<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocPI.xml"
            primary="true"/>
      <toc
            file="tocConcepts.xml"
            primary="false"/>
      <toc
            file="tocProfiler.xml"
            primary="false"/>
      <toc
            file="tocAnalyzer.xml"
            primary="false"/>
	   
	  <!-- Moved release notice to manual (20080517)
      <toc
            file="tocRelease.xml"
            primary="false"/>
	  -->
	   
 		<index path="index" />

   </extension>


	<!-- Performance Investigator cheatsheets extension -->
	
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.nokia.carbide.cpp.tools.cheatsheets"
            name="Carbide.c++ Tools" />
      <cheatsheet
            category="com.nokia.carbide.cpp.tools.cheatsheets"
            contentFile="html/cheatsheets/getStarted_pi2_cs.xml"
            id="com.nokia.carbide.cpp.pi.doc.user.getStarted"
            name="Performance Investigator Setup for Remote Profiling"/>
      <cheatsheet
            category="com.nokia.carbide.cpp.tools.cheatsheets"
            composite="false"
            contentFile="$nl$/html/cheatsheets/getStarted_pi1_cs.xml"
            id="com.nokia.carbide.cpp.pi.help.cheatsheet919016247"
            name="Performance Investigator Setup for On-device profing">
      </cheatsheet>
   </extension>

	
	<!-- Add PI info to Welcome pages to extend content -->
	
	<extension
		point="org.eclipse.ui.intro.configExtension">
		
		<configExtension
			configId="org.eclipse.ui.intro.universalConfig" 
			content="intro/overviewProfilerExtContent.xml" /> 
		 
		<configExtension
			configId="org.eclipse.ui.intro.universalConfig"
			content="intro/whatsnewProfilerExtContent.xml" /> 
		 
		<configExtension
			configId="org.eclipse.ui.intro.universalConfig"
			content="intro/tutorialsProfilerExtContent.xml" /> 
		

	</extension>

	<!-- CONTEXT IDs for CONTEXTUAL HELP in windows, dialogs, and views -->
	
	<extension point="org.eclipse.help.contexts" >

       <!-- PI THREADS/BINARY/FN TABS -->
       <contexts file="html/context_help/com_nokia_carbide_pi_address.xml"
       		plugin="com.nokia.carbide.cpp.pi.address" />

       <!-- PI BUTTON TABS -->
       <contexts file="html/context_help/com_nokia_carbide_pi_button.xml"
       		plugin="com.nokia.carbide.cpp.pi.button" />

       <!-- PI FN CALLS TAB -->
       <contexts file="html/context_help/com_nokia_carbide_pi_call.xml" 
       		plugin="com.nokia.carbide.cpp.pi.call" />

       <!-- PI IMPORT WIZARD -->
       <contexts file="html/context_help/com_nokia_carbide_pi_wizards.xml" 
       		plugin="com.nokia.carbide.cpp.pi.wizards" />
       		
      <!-- PI VIEW -->		
       <contexts
             file="html/context_help/com_nokia_carbide_pi_view.xml"
             plugin="com.nokia.carbide.cpp.pi.view" />

       <!-- ECLIPSE NEW/IMPORT/EXPORT WIZARDS and PREF PANELS HELP  -->
       <contexts file="html/context_help/org_eclipse_ui.xml"
       		plugin="org.eclipse.ui" />
       <contexts
             file="html/context_help/com_nokia_carbide_pi_memory.xml"
             plugin="com.nokia.carbide.cpp.pi.memory">
       </contexts>
       <contexts
             file="html/context_help/com_nokia_carbide_pi_graphicsmemory.xml"
             plugin="com.nokia.carbide.cpp.pi.graphicsmemory">
       </contexts>
       <contexts
             file="html/context_help/com_nokia_carbide_pi_pec.xml"
             plugin="com.nokia.carbide.cpp.pi.perfcounters">
       </contexts>
       <contexts
             file="html/context_help/com_nokia_carbide_pi_ipc.xml"
             plugin="com.nokia.carbide.cpp.pi.ipc">
       </contexts>
       <contexts
             file="html/context_help/com_nokia_carbide_pi_irq.xml"
             plugin="com.nokia.carbide.cpp.pi.irq">
       </contexts>
       <contexts
             file="html/context_help/com_nokia_carbide_pi_power.xml"
             plugin="com.nokia.carbide.cpp.pi.power">
       </contexts>

	</extension>

	
	<!-- KEYWORD INDEX ADDITION -->
	
	 <extension
	       point="org.eclipse.help.index">
	    <index file="html/index.xml"/>
	 </extension>

</plugin>
